# These resources will start by default.
start loadingscreen
start mapmanager
start chat
start spawnmanager
start sessionmanager
start strp
start hardcap
# start rconlog
# start scoreboard
# start playernames
start baseevents
start core_hideintrunk

start pNotify
start ft_libs
start debugger
# start es_admin2

start NativeUI
start eup_ui
start eup-stream

start sheriffpd
start rivers
start prison
start missionrow
start bahamaMama
start pillboxHospital
start bob74_ipl
start burgershot

start mysql-async
start essentialmode
start esplugin_mysql
start async
start InteractSound

start es_extended
start instance
start cron

start EasyAdmin
start EasyAdmin-MySQL
start replyandreport
start idonlyforadmin

start gcphone
start esx_addons_gcphone
start esx_addonaccount
start esx_addoninventory
start esx_datastore

start esx_rpchat
start esx_identity
start esx_license
start esx_society

start esx_billing
#start esx_property
start esx_dmvschool

start esx_jb_eden_garage2
start esx_vehicleshop
start esx_lscustom
# start esx_shops
start esx-kr-advanced-shops
start esx_legacyfuel

start esx_menu_default
start esx_menu_list
start esx_menu_dialog

start skinchanger
start esx_skin
start esx_clotheshop
start esx_tattoosShops
start esx_barbershop
#start esx_basicneeds
#start esx_status
#start esx_Healthbar-UI
start esx_kashacters

start esx_service
start esx_policejob
start esx_ambulancejob

start esx_drugs
start esx_joblisting
start esx_taxijob
start esx_mechanicjob
start vg_fishing

start esx_weaponshop
start weaponsonback
start esx_outlawalert
start esx_animations
start esx_accessories

start esx_truck_inventory
start esx_lockpick
start esx_locksystem
 

start strp_atm
start strp_handsup
start strp_voip
start strp_pedmenu
start strp_gangs
start strp_gangturfs
start strp_mdt
start strp_vehcontrol
start strp_seat_seater
start strp_chopshop
start strp_moneyLaunderer
start strp_job_management
start strp_wraith
start strp_truckerJob
start strp_streetRacing

start doorWarps
start doorLocks
start JailNJury
start dinoweather
start streetLabel
# start trainsportation
start seatbeltIndicator
start vengine
start cruisecontrol

start weazelnews
start strp_policepack
start 2015polstang
start strp_van
start engine
start fire_fivem
start firecharger
start firecvpi
start FireTruck

start handling
#start fivem-speedometer
start RealisticVehicleFailure
start crouch
start 99kr-burglary

sets tags "STRP, ESX, RP, Roleplay, police, cops, medics, ems, trucks, trucking, wine, weed, drugs, economy, discord, cad, lspd, leo, whitelist, public, mdt, ambulance"
sets banner_connecting "https://i.imgur.com/FZOROVR.png"
sets banner_detail "https://i.imgur.com/FZOROVR.png"

set ea_LanguageName "en"                # set our language to english
set ea_MenuButton "213"			# set our menu button to F2. default: "289"
set ea_alwaysShowButtons "false"	# we don't want to see buttons we can't even access, do we? default: "false"
set ea_moderationNotification "false"   # this can be either "false" or a discord webhook address, this will send a discord message if an admin takes actions against a player  ( such as banning and kicking )
set ea_custombanlist "true"            # read docs for this, dont touch it

# easy admin
add_ace group.god easyadmin allow

add_ace group.admin easyadmin.kick allow        
add_ace group.admin easyadmin.spectate allow    
add_ace group.admin easyadmin.teleport allow    
add_ace group.admin easyadmin.slap allow        
add_ace group.admin easyadmin.freeze allow 
add_ace group.admin easyadmin.immune allow    
add_ace group.admin easyadmin.ban allow
add_ace group.admin easyadmin.unban allow

add_ace group.moderator easyadmin.kick allow        
add_ace group.moderator easyadmin.spectate allow    
add_ace group.moderator easyadmin.teleport allow        
add_ace group.moderator easyadmin.slap deny        
add_ace group.moderator easyadmin.freeze allow    
add_ace group.moderator easyadmin.immune allow    
add_ace group.moderator easyadmin.ban allow

# Leadership
add_principal identifier.license:2524921ce9778db979b0bf297a99edd65a837da8 group.god #frankie
add_principal identifier.license:05a09ffadcdd4fad0f75d36c702e4492cbb91bf0 group.god #zevo
add_principal identifier.license:8e9b7c196612d48c8f3109a48ab9bae5dc5b6a2a group.god #sojo
add_principal identifier.license:31e40ddd4737fe9ffed5bde84d24f2ec3d8e7ab0 group.god #kevin
add_principal identifier.license:66dedb5678c489162a3a264f0a64c5f4411c3366 group.god #santa

#admin
add_ace identifier.steam:11000010400b1fc group.admin allow #jamie
add_ace identifier.steam:110000101a7a8ea group.admin allow #bean

#moderator