# You probably don't want to change these!
# Only change them if you're using a server with multiple network interfaces.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

# essentialmode permissions
add_ace resource.essentialmode command.sets allow
add_ace resource.essentialmode command.add_principal allow
add_ace resource.essentialmode command.add_ace allow

# ELS permissions
add_ace resource.elsplus command.add_ace allow

# STRP perms
add_ace resource.strp command.sets allow

# essentialmode mysql
set es_enableCustomData 1

# These resources will start by default.
start loadingscreen
start mapmanager
start chat
start spawnmanager
start sessionmanager
start strp
start hardcap
# start rconlog
# start scoreboard
# start playernames
start baseevents
start core_hideintrunk

start pNotify
start ft_libs
start debugger
# start es_admin2

start NativeUI
start eup_ui
start eup-stream

start sheriffpd
start rivers
start prison
start missionrow
start bahamaMama
start pillboxHospital
start bob74_ipl
start burgershot

start mysql-async
start essentialmode
start esplugin_mysql
start async
start InteractSound

start es_extended
start instance
start cron

start EasyAdmin
start EasyAdmin-MySQL

start esx_addonaccount
start esx_addoninventory
start esx_datastore

start esx_rpchat
start esx_identity
start esx_license
start esx_society

start esx_billing
#start esx_property
start esx_dmvschool

start esx_jb_eden_garage2
start esx_vehicleshop
start esx_lscustom
# start esx_shops
start esx-kr-advanced-shops
start esx_legacyfuel

start esx_menu_default
start esx_menu_list
start esx_menu_dialog

start skinchanger
start esx_skin
start esx_clotheshop
start esx_tattoosShops
start esx_barbershop
start esx_kashacters

start esx_service
start esx_policejob
start esx_ambulancejob

start esx_drugs
start esx_joblisting
start esx_taxijob
start esx_mechanicjob
start vg_fishing

start esx_weaponshop
start weaponsonback
start esx_outlawalert
start esx_animations

start esx_truck_inventory
start esx_lockpick
start esx_locksystem

start strp_atm
start strp_handsup
start strp_voip
start strp_pedmenu
start strp_gangs
start strp_gangturfs
start strp_mdt
start strp_vehcontrol
start strp_seat_seater
start strp_chopshop
start strp_moneyLaunderer
start strp_job_management
start strp_wraith
start strp_truckerJob

start doorWarps
start doorLocks
start JailNJury
start dinoweather
start streetLabel
# start trainsportation

start weazelnews
start strp_policepack
start 2015polstang
start strp_van
start engine
start fire_fivem
start firecharger
start firecvpi
start FireTruck

start handling
start fivem-speedometer
start RealisticVehicleFailure


# This allows players to use scripthook based plugins such as lambda menu.
# Set this to 0 to disallow scripthook.
sv_scriptHookAllowed 0

# Uncomment this to enable RCON. Make sure to change the password.
rcon_password dP3FjFSVEB8lT3t6MY9z

# A comma-separated list of tags for your server.
# For example:
# - sets tags "drifting, cars, racing"
# Or:
# - sets tags "roleplay, military, tanks"
sets tags "STRP, ESX, RP, Roleplay, police, cops, medics, ems, trucks, trucking, wine, weed, drugs, economy, discord, cad, lspd, leo, whitelist, public, mdt, ambulance"
sets banner_connecting "https://i.imgur.com/FZOROVR.png"
sets banner_detail "https://i.imgur.com/FZOROVR.png"

# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
#sets banner_detail "http://url.to/image.png"
#sets banner_connecting "http://url.to/image.png"

# Set your server's hostname
sv_hostname "^4STRP ^5| ^1[BETA] ^5| ^4Whitelisted Police, Medics & Gangs ^5| ^4Chop shop, drugs, wine, trucking & more ^5| ^4Roleplay"

# Nested configs!
#exec server_internal.cfg

# Loading a server icon (96x96 PNG file)
load_server_icon myLogo.png

# Uncomment to DISABLE your server coming up in the server list
set mysql_connection_string "server=127.0.0.1;uid=fivem_strp;database=fivem_live;password=jJsl74j7hkAP3boZU6Sf"
#sv_master1 ""

# Want to only allow players authenticated with a third-party provider like Steam?
# Don't forget Social Club is a third party provider too!
sv_authMaxVariance 1
sv_authMinTrust 5

# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
# add_principal identifier.steam:1100001032256B2 group.admin # add the admin to the group

# Hide player endpoints in external log output.
sv_endpointprivacy true

# server slots limit (must be between 1 and 32)
sv_maxclients 64

# license key for server (https://keymaster.fivem.net)
sv_licenseKey "yafw6t036px9d63uf4zwv7f9mpqclgun"


set ea_LanguageName "en"                # set our language to english
set ea_MenuButton "213"			# set our menu button to F2. default: "289"
set ea_alwaysShowButtons "false"	# we don't want to see buttons we can't even access, do we? default: "false"
set ea_moderationNotification "false"   # this can be either "false" or a discord webhook address, this will send a discord message if an admin takes actions against a player  ( such as banning and kicking )
set ea_custombanlist "true"            # read docs for this, dont touch it

# easy admin
add_ace group.god easyadmin allow

add_ace group.admin easyadmin.kick allow        
add_ace group.admin easyadmin.spectate allow    
add_ace group.admin easyadmin.teleport allow    
add_ace group.admin easyadmin.slap allow        
add_ace group.admin easyadmin.freeze allow 
add_ace group.admin easyadmin.immune allow    
add_ace group.admin easyadmin.ban allow

add_ace group.moderator easyadmin.kick allow        
add_ace group.moderator easyadmin.spectate allow    
add_ace group.moderator easyadmin.teleport allow        
add_ace group.moderator easyadmin.slap deny        
add_ace group.moderator easyadmin.freeze allow    
add_ace group.moderator easyadmin.immune allow    
add_ace group.moderator easyadmin.ban allow

# Leadership
add_principal identifier.license:2524921ce9778db979b0bf297a99edd65a837da8 group.god #frankie
add_principal identifier.license:05a09ffadcdd4fad0f75d36c702e4492cbb91bf0 group.god #zevo
add_principal identifier.license:8e9b7c196612d48c8f3109a48ab9bae5dc5b6a2 group.god #sojo
add_principal identifier.license:31e40ddd4737fe9ffed5bde84d24f2ec3d8e7ab0 group.god #kevin
add_principal identifier.license:66dedb5678c489162a3a264f0a64c5f4411c3366 group.god #santa

#admin
add_ace identifier.license:b2516da8e4a028e262f7858ab568b5ca8d5a4d3 group.admin allow #jamie
add_ace identifier.license:be6755f6c9b00f2335fc88c480756a66d189a547 group.admin allow #bean

#moderator