@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	  background-color: transparent;
}

.atmwindow-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0; 
  left: 0;
  transition: all 0.25s ease-in-out;
}

.atmwindow {
  width: 700px;
  height: 272px;
  display: block;
  margin: 50% 0 0 0;
  position: relative;
  top: 50%; 
  left: calc(50% - 350px);
  background: #fff;
  transition: all 0.5s ease-in-out;
}

.atmwindow-wrapper.open .atmwindow {
  margin-top: -200px;
}

.head { 
  padding: 12px 24px;
  overflow: hidden;
}

.btn-close {
	font-size: 28px;
	display: block;
	float: right;
	color: #0085B2;
}

.bank-time {
	text-align: right;
	font-size: 20px;
	float: right;
	color: #000;
}
.bank-date {
	font-size: 10px;
}
	  
.content {
	height: 100%;
	padding: 2% 5% 0 5%;
	background: #0085B2;
}

.logo {
  max-height: 47px;
}

.welcome {
	text-align: center;
	font-size: 24px;
	color: #fff;
	margin-bottom: 15px;
}
.balance {
	float: right;
	text-align: right;
	font-size: 18px;
	color: #fff;
	margin-top: 10px;
}
#balance {
	display: inline-block;
}

.cash {
	display: inline-block;
	text-align: left;
	font-size: 18px;
	color: #fff;
	margin-top: 10px;
}
#cash {
	display: inline-block;
}

.col-md-4 {
	padding-right: 0px;
}
.fullbox {
	height: 160px;
	background-color: #fff;
	cursor: pointer;
	padding-left: 0px;
}
.halfbox {
	height: 78px;
	background-color: #fff;
	margin: 0 0 4px 0;
	cursor: pointer;
}
.fullbox:hover, .halfbox:hover, .disabled {
	background-color: lightgray;
}

.favwithdrawl {
	font-size: 42px;
	text-align: center;
	margin-top: 30px;
	color: #000;
}
.subtext {
	font-size: 16px;
	text-align: center;
	color: #000;
}

.bigtext {
	font-size: 19px;
	text-align: center;
	margin-top: 24px;
	color: #000;
	width: 100%;
}

input {
	border: none;
	text-align: center;
	width: 100%;
	background: transparent;
	outline: none;
}

::placeholder {
	color: #000;
	text-align: center;
}