@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	  background-color: transparent;
	color: #fff;
}

.mdtwindow-wrapper {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0; 
	left: 0;
	transition: all 0.25s ease-in-out;
}

.mdtwindow {
	width: 900px;
	display: block;
	margin: 50% 0 0 0;
	position: relative;
	top: 50%; 
	left: calc(50% - 450px);
	background: #181818;
	transition: all 0.5s ease-in-out;
}

.mdtwindow-wrapper.open .mdtwindow {
  margin-top: -200px;
}

.head { 
	padding: 12px 24px;
	overflow: hidden;
  	background: #181818;
}

.head .fas {
	margin: 15px 25px 0 0;
}

.head .fas:hover {
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-webkit-box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.67);
	-moz-box-shadow:    0px 0px 30px 0px rgba(255, 255, 255, 0.67);
	box-shadow:         0px 0px 30px 0px rgba(255, 255, 255, 0.67);
}

.menu { 
	overflow: hidden;
  	background: #181818;
}
  
.mdt-time {
	text-align: right;
	font-size: 20px;
	float: right;
	color: #fff;
}
.mdt-date {
	font-size: 10px;
}
	  
.content {
	padding: 2% 5% 0 5%;
	background: #d1d1d1;
}

input {
	border: none;
	text-align: center;
	width: 100%;
	background: transparent;
	outline: none;
}

::placeholder {
	color: #000;
	text-align: center;
}


.myPlayer {
	font-weight: 600;
	line-height: 45px;
	text-align: center;
}

.availableUnits {
	font-weight: 600;
	text-align: center;
}

.officer {
	background: #0085B2;
	margin-bottom: 5px;
	padding: 5px;
}

.officer.available {
	background: #99C24D;
}

.officer.busy {
	background: #F18F01;
}

.icon {
	display: inline-block;
	padding: 5px 10px;
}

.title {
	display: inline-block;
	padding: 5px 5px 5px 10px;
}

.officer .fas {
	margin-right: 10px;
}

.avatar {
	vertical-align: middle;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 8px;
}

.boxHead {
	background: #520015;
	padding: 10px;
	font-weight: 600;
}

.boxContent {
	background: #FFF;
	color: #000;
	padding: 10px;
	margin-bottom: 15px;
}